<h1>Select 2 Images to merge them ;)</h1>
<form action="/post" enctype="multipart/form-data" method="POST">
  <input type="file" name="photos" multiple="multiple" />
  <input type="submit" />
</form>
